<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main>
    <div>
       <h1 style="text-align:center"   class="display-4"> <b><%= title %> me </b></h1>  <br/><br/><br/><br/>
     </div>
   </main>
   
   <div style="text-align: center;">
    <img width="300px" src="images/dimple_img.jpg">  </div><br/>
   <p><b><center>Dimple</b></p><hr> I am doing Software Engineering Technology - Artificial Intelligence Fast Track course in a Centennial College. I am born and brought up in Punjab, India. I have completed my Bachelors in Technology in Electronics & Communication Engineering.  I am very excited to be in this reputed insitution and wish to gain a lot of exposure.
     learner and handles pressure well.</p></center>
     
    <center><button style="text-align:center" href="images/resume_d.pdf">View Resume</button></center> 
 </div>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




