<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  
<script>
    window.onload = function() {
        var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("businessTab");
    switching = true;

    while (switching) {
      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;

        x = rows[i].getElementsByTagName("TD")[0];
        y = rows[i + 1].getElementsByTagName("TD")[0];

        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
    }
</script>
  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>

            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/business-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Business</a>
            <% } %>
            <br>
            <table id="businessTab" class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Number</th>
                        <th class="text-center">Email</th>

                        <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BusinessList.length; count++) { %>
                    <tr>
                            <td class="text-center"><%= BusinessList[count].name %></td>
                            <td class="text-center"><%= BusinessList[count].number %></td>
                            <td class="text-center"><%= BusinessList[count].email %></td>

                            <td class="text-center">
                                <a href="/business-list/edit/<%= BusinessList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center">
                                <a href="/business-list/delete/<%= BusinessList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
 
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  





